.container {
  .wripper {
    // display: flex;
    // justify-content: left;
    // flex-wrap: wrap;

    .title {
      width: 250px;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  .select {
    width: 200px;
  }
  .inputKey {
    width: 200px;
  }
}
