.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 10px;

  .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .input {
    width: 200px;
    margin: 20px auto;
  }
  .btnSave {
    width: 200px;
    margin: 10px auto;
  }
  .icon {
    display: block;
    margin-right: 0px;
    margin-left: auto;
    color: #d9d9d9;
    
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}
